<div class="container">
  <mat-card class="card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="field">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
        <mat-error>Enter valid email</mat-error>
      </mat-form-field>
    
      <mat-form-field class="field">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error>Enter password</mat-error>
      </mat-form-field>
    
      <button type="submit" mat-button>Login</button>
    </form>
  </mat-card>

  <mat-card class="card" *ngIf="token">
    Token: {{token}}
  </mat-card>
</div>


